
DATABASE_URL=
LOG_LEVEL=INFO

DB_USER = 
DB_PASSWORD = 
DB_HOST = 
DB_PORT = 
DB_NAME = 
DB_SSLMODE = require

SENDGRID_API_KEY=
SENDGRID_FROM_EMAIL=

AUTO_INIT_DB=true
FIREBASE_CREDENTIALS=
FIREBASE_PROJECT_ID=
FIREBASE_SERVICE_ACCOUNT_PATH=
FIREBASE_WEB_API_KEY=

FIREBASE_CONFIG='{"apiKey":"","authDomain":"","projectId":"","storageBucket":"","messagingSenderId":"","appId":"","measurementId":""}'

# for jwt
ACCESS_TOKEN_EXPIRE_MINUTES=
ACCESS_TOKEN_TTL_MINUTES=
RECENT_AUTH_MAX_AGE_SECONDS=
JWT_SECRET=
JWT_ALGORITHM=

# for analytics
DEFAULT_DAYS = 
MAX_DAYS = 
DEFAULT_TOP_LIMIT = 
MAX_TOP_LIMIT =

# for comments
DEFAULT_COMMENT_MAX_DEPTH=3

# for posts
HASHTAG_LIMIT=5

BASE_URL=


# For Invitation
INVITATION_DAILY_LIMIT=50
INVITATION_TIMEZONE=Asia/Calcutta
INVITATION_BLOCK_DAYS=7
INVITATION_CODE_LENGTH=7

# firebase secret

# OTP and Password Reset Token Configurations
PASSWORD_RESET_TOKEN_EXPIRE_MINUTES=15
RESEND_OTP_COOLDOWN_MINUTES=2
OTP_EXPIRE_MINUTES=10
LOGO_URL=
