__pycache__/
*.py[cod]
*.pyd
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/
.venv/
venv/
env/
dist/
build/
*.egg-info/

credentials/
.env
.env.*
!.env.example

.DS_Store
Thumbs.db

*.log
.gemini 
tech_stackl
.coverage
.scannerwork
.agents
sonar-project.properties
extraction.json
post_keywords.json
entrypoints/static/uploads/*
apps/recommendation/services/algorithm.py

alembic/versions/*
